*.ai
*.eps
*.log
*.pid
*.pid.lock
*.seed
*.tgz
.env
.eslintcache
.grunt
.lock-wscript
.node_repl_history
.npm
.nyc_output
.yarn-integrity
bower_components
build/Release
coverage
jspm_packages/
lib-cov
logs
node_modules/
package-lock.json
npm-debug.log*
pids
typings/
yarn-debug.log*
yarn-error.log*
*.zip
.*.md
*.sublime-project
*.sublime-workspace
